@import "tailwindcss";

@theme {
  --color-bgDeep: #050B14;
  --color-cardGlass: rgba(18, 25, 38, 0.6);
  --color-neonBlue: #00E5FF;
  --color-googleBlue: #4285F4;
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-bgDeep);
    color: white;
    overflow: hidden;
  }
}